<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NHS Trust Map</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>NHS Trust Map</h1>
    </header>
    <main>
        <div id="map"></div>
    </main>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}"></script>
    <script src="{{ url_for('static', filename='js/map.js') }}"></script>
</body>
</html>
