<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NHS Trust Data</title>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}" async defer></script>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div id="map"></div>
    <div id="table-section">
        <h1 class="title">PA/AA Governance Map</h1>
        <a class="subtitle" href="https://www.x.com/drmattuk" target="_blank">Created by Dr Matt Kneale</a>
        <table id="trusts-table">
            <thead>
                <tr>
                    <th>
                        Name
                        <a href="#" class="policy-link">(Link to Governance Policy)</a>
                    </th>
                    <th>Total PAs and AAs</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <script src="/static/map.js"></script>
</body>
</html>